.blockInfoAndImg{
   display: flex;
   justify-content: flex-end;
   position: relative;
}

.textOrCompany{
   text-decoration: none;
   color: black;
   font-family: sans-serif;
   font-size: 28px;
   font-weight: 500;
   display: flex;
   line-height: 30px;
   justify-content: flex-start;
   margin-left: 0px;
   width: 40%;
   margin: 108px 0 0 80px;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 10;
}

.imgCars{
   width: 730px;
    height: 615px;
    opacity: 0.6;
}

