.selectMark{
   width: 190px;
   padding: 14px 16px 14px 14px;
   border-radius: 14px;
   border-color: transparent;
   background: #F7F7FB;
   cursor: pointer;
}

.selectPrice {
   width: 95px;
   padding: 14px 17px 14px 14px;
   border-radius: 14px;
   border-color: transparent;
   background: #F7F7FB;
   cursor: pointer; 
}

.sectionSearch{
   display: flex;
   gap: 18px;
   justify-content: center;
   align-items: flex-end;
}

.blockSelect{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 8px;

}

.blockSelectMarkName{
   color: #8A8A89;
   font-family: Manrope, sans-serif;
   font-size: 14px;
   font-weight: 500;
   line-height: 18px;
}

.buttomSearch{
   color: var(--White, #FFF);
   font-family: Manrope, sans-serif;
   font-size: 14px;
   font-weight: 600;
   line-height: 20px;
   cursor: pointer;

   padding: 14px 44px;
   border-radius: 12px;
   background: #3470FF;
   border-color: transparent;
}

.buttomSearch:hover{
   background: #0B44CD;
}

.forms{
   display: flex;
   align-items: center;
}

.formFrom{
   padding: 14px 0px 14px 24px;
   border-radius: 14px 0px 0px 14px;
   border-right: 1px solid rgba(138, 138, 137, 0.20);
   background: #F7F7FB;
   border-top-color: transparent;
   border-left-color: transparent ;
   border-bottom-color: transparent ;
   cursor: pointer;
}

.formTo{
   padding: 14px 0px 14px 24px;
   border-radius: 0px 14px 14px 0px;
   background: #F7F7FB;
   color: #121417;
   border-color: transparent;
   cursor: pointer;
}

.advertisementList{
   display: flex;
   flex-wrap: wrap;
   column-gap: 2%;
   justify-content: center;
   margin-top: 50px;
}

.imageContainer {
   position: relative;
   display: grid;
   margin-bottom: 10px;
}
 
.heartIcon {
   position: absolute;
   top: 16px;
   right: 16px;
   width: 23px; 
   height: 23px; 
   z-index: 1; 
}

.imgCars{
   width: 274px;
   height: 268px;
   border-radius: 14px;
   object-fit: cover;
   object-position: center;
   margin-bottom: 14px;
}

.infoCar{
   display: flex;
   width: 274px;
   flex-direction: column;
   align-items: flex-start;
   gap: 8px;
}

.h2NameModalCars{
   display: flex;
   color: #121417;
   font-family: Manrope, sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
   margin: 0;
   gap: 2px;
}

.blockInfo{
   color: rgba(18, 20, 23, 0.50);
   font-family: Manrope, sans-serif;
   font-size: 12px;
   font-weight: 400;
   line-height: 18px;
}

.nameModal{
   color: #3470FF;
   font-family: Manrope, sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
}

.blockModalAndPrice{
   display: flex;
   align-items: flex-start;
   width: 265px;
   height: 24px;
   justify-content: space-between;
}

p{
   margin: 0;
}

.LearnMore{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 279px;
   height: 44px;
   padding: 12px 99px;
   margin-top: 28px;
   margin-bottom: 50px;
   color: var(--White, #FFF);
   font-family: Manrope, sans-serif;
   font-size: 14px;
   font-weight: 600;
   line-height: 20px; 
   border-radius: 12px;
   background: #3470FF;
   border-color: transparent;
   cursor: pointer;
}

.LearnMore:hover{
   background: #0B44CD;
}

.loadMore{
   color: #3470FF;
   font-family: Manrope, sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 24px; 
   text-decoration-line: underline;
   margin-top: 100px;
   display: flex;
   justify-content: center;
   margin-bottom: 150px;
   cursor: pointer;
}